{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="modal container">
    <h3>S'inscrire</h3>

    <div class="f-row">
        {{ form_widget(form.nom,{'attr':{'placeholder':'Nom'}}) }}
    </div>
    <div class="f-row">
        {{ form_widget(form.prenom,{'attr':{'placeholder':'Prènom'}}) }}
    </div>
    <div class="f-row">
        {{ form_widget(form.email,{'attr':{'placeholder':'Email'}}) }}
    </div>
    <div class="f-row">
        {{ form_widget(form.username,{'attr':{'placeholder':"Nom d'utilisateur"}}) }}
    </div>
    <div class="f-row">
        {{ form_widget(form.plainPassword.first,{'attr':{'placeholder':'Mot de passe'}}) }}
    </div>
    <div class="f-row">
        {{ form_widget(form.plainPassword.second,{'attr':{'placeholder':'Répeter le mot de passe'}}) }}
    </div>
    <div class="f-row">
        {{ form_widget(form.roles,{'attr':{'placeholder':''}}) }}

    </div>

    <div class="f-row bwrap">
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    <p>Vous avez déjà un compte? <a href="{{ path('fos_user_security_login') }}">Se connecter.</a></p>
    {{ form_end(form) }}
</div>
